<%= form_tag update_site_translations_path, :method => :post do %>
  <table class="gt_site_translations">
    <tr class="gt_ths">
      <th>Key</th>
      <th>Value</th>
    </tr>
    <% @keys.each do |key| %>
      <tr class="gt_separator"><td colspan="2"></td></tr>
      <tr class="gt_default_value">
        <td class="gt_key">
          <%= key %>
        </td>
        <td class="gt_value">
          <%= GoTranslateYourself.current_store.default_translation("dev.#{key}") %>
        </td>
        <% @locales.each do |locale| %>
          <tr>
            <td>
              <%= locale %>
            </td>
            <td>
              <%= text_field_tag "translations[#{locale}.#{key}]", GoTranslateYourself.current_store["#{locale}.#{key}"] %>
            </td>
          </tr>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Save" %>
<% end %>
