<%= form_tag update_site_translations_path, :method => :post do %>
  <table class="gt_site_translations">
    <tr class="gt_ths">
      <th>Key</th>
      <th>Value</th>
    </tr>
    <% @translations.each do |key, default_translation| %>
      <tr class="gt_separator">
        <td colspan="2"></td>
      </tr>
      <tr class="gt_default_value">
        <td class="gt_key">
          <a name="<%= key %>" href="#<%= key %>"><%= key %></a>
        </td>
        <td class="gt_value">
          <%= default_translation %>
        </td>
        <% @locales.each do |locale| %>
          <tr>
            <td>
              <%= locale %>
            </td>
            <td>
              <%= translation_text_field locale, key, default_translation %>
            </td>
          </tr>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Save" %>
<% end %>

